* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

.grid {
  border: 1px solid #333;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  position: relative;
  float: left;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item img {
  display: block;
  margin: 0 auto;
}
