* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  background-color: #191919;
  color: #8e8e8e;
}

h1 {
  color: #da2c49;
}

a {
  color: #da2c49;
  text-decoration: none;
  font-weight: bold;
}

#intro {
  text-align: center;
  margin-bottom: 25px;
}

.filters {
  display: flex;
  margin-bottom: 25px;
}

.filter-group {
  flex: 1;
}

.filters label {
  display: block;
  margin-bottom: 5px;
}

.filters select {
  width: 90%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.grid-item {
  background: #111111;
  margin: 10px;
  max-width: 500px;
  width: calc(25% - 20px);
  position: relative;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 225px;
}

.game-content {
  padding: 15px;
}

.game-content p {
  margin-bottom: 5px;
}

.game-meta {
  text-align: justify;
  padding: 0 10px 10px;
  font-size: 80%;
  margin-bottom: 60px;
}

.game_meta span {
  display: inline-block;
  margin: 0 10px;
}

.game_meta span::first-letter {
  color: #7e7e7e;
}

.game-location {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.game-location div {
  float: left;
  display: inline-block;
  width: 50%;
  text-align: center;
  background: #da2c49;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 0;
}
